body {
    margin: 0;
    font-family: "Karla", sans-serif;
}

main {
    padding: 40px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to right, #672280, #A626D3);
    width: 100%;
    padding: 10px 30px;
    color: white;
}

.nav--logo {
    display: flex;
}

.nav--img {
    width: 40px;
    align-self: center;
    margin-right: 10px;
}

.nav--title {
    font-weight: 500;
}

.nav--text {
    font-size: 18px;
    margin-right: 80px;
}

.form {
    font-family: "Karla", sans-serif;
    display: grid;
    grid-template: 40px 40px /1fr 1fr;
    /* grid-row-gap: 50px; */
    gap: 17px;
    padding: 10px;
}

.form--input {
    /* width: 500px;
    margin: auto; */
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

.form--btn {
    font-family: "Karla", sans-serif;
    font-size: 1rem;
    grid-column: 1/ -1;
    background-image: linear-gradient(to right, #672280, #A626D3);
    border: none;
    border-radius: 10px;
    /* width: 400px;
    margin: auto; */
    padding: 15px;
    align-self: center;
    color: white;
    cursor: pointer;
}

.meme {
    position: relative;
    margin-top: 20px;
}

/* 1000 and less */
@media screen and (max-width: 1000px) {
    .meme {
        /* background-color: lightblue; */
        margin-left: 15%;
    }
}

/* 1000 and more */
@media screen and (min-width: 1000px) {
    .meme {
        /* background-color: orange; */
        margin-left: 30%;
    }
}

/* 650 and less */
@media screen and (max-width: 650px) {
    .meme {
        margin-left: 0px;
    }

}

.meme--image {
    margin: auto;
    max-width: 100%;
    border-radius: 3px;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}

@media screen and (min-width: 1000px) {
    .form {
        display: grid;
        grid-template: 40px 40px / 1fr 1fr;
        grid-row-gap: 50px;
        padding: 10px;
    }

    .form--input {
        width: 500px;
        margin: auto;
        font-family: "Karla", sans-serif;
        border-radius: 5px;
        border: 1px solid #D5D4D8;
        text-indent: 5px;
    }

    .form--button {
        grid-column: 1 / -1;
        width: 400px;
        margin: auto;
        font-family: "Karla", sans-serif;
        align-self: center;
        border-radius: 5px;
        background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
        color: white;
        border: none;
        cursor: pointer;
    }
}